:root {
  --font-family: "Montserrat",sans-serif;
  --content-width: 1192px;
  --container-offset: 20px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --white-color: #fff;
  --real-black-color: #000;
  --black-color: #1e1e1e;
  --orange-color: #e15335;
  --blue-color: #299b9c;
  --dirty-blue-color: #c9dcde;
  --light-blue-color: #0ecbcd;
  --grey-color: #d9d9d9
}
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1
}
.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: red solid 2px;
  outline-offset: 2px
}
.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: .4;
  pointer-events: none
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Regular.woff2) format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Medium.woff2) format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Bold.woff2) format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: bold
}
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.woff2) format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal
}
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Medium.woff2) format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
*,
::after,
::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit
}
.page {
  height: 100%;
  font-family: var(--font-family,sans-serif);
  -webkit-text-size-adjust: 100%
}
.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
  background: var(--grey-color)
}
.site-container {
  overflow: hidden
}
.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer
}
.list-reset {
  list-style: none;
  margin: 0;
  padding: 0
}
.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width)
}
main {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.wrapper {
  position: relative;
  overflow: hidden;
  max-width: 1600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.hero {
  margin: 0 auto;
  padding: 40px;
  max-width: 865px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background: var(--white-color);
  max-height: 890px
}
.hero__container-label-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  row-gap: 18px
}
.hero__title {
  margin: 0;
  color: var(--real-black-color);
  font-size: 24px;
  font-weight: 600;
  line-height: normal
}
.hero__title-h3 {
  margin-bottom: 18px
}
.hero__textarea {
  width: 100%;
  min-height: 325px;
  margin-bottom: 35px;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid var(--orange-color);
  resize: none
}
.hero__textarea::-webkit-input-placeholder {
  color: var(--real-black-color);
  font-size: 24px;
  font-weight: 600;
  line-height: normal
}
.hero__textarea::-moz-placeholder {
  color: var(--real-black-color);
  font-size: 24px;
  font-weight: 600;
  line-height: normal
}
.hero__textarea:-ms-input-placeholder {
  color: var(--real-black-color);
  font-size: 24px;
  font-weight: 600;
  line-height: normal
}
.hero__textarea::-ms-input-placeholder {
  color: var(--real-black-color);
  font-size: 24px;
  font-weight: 600;
  line-height: normal
}
.hero__textarea::placeholder {
  color: var(--real-black-color);
  font-size: 24px;
  font-weight: 600;
  line-height: normal
}
.hero__label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer
}
.hero__checkbox {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0)
}
.hero__checkbox:checked + .hero__mark::after {
  opacity: 1
}
.hero__text {
  color: var(--real-black-color);
  font-size: 18px;
  font-weight: 500;
  line-height: normal
}
.hero__text-toggle {
  text-align: center;
  color: var(--real-black-color);
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  white-space: nowrap
}
.hero__text-toggle-empty {
  min-width: 124px;
  font-size: 9px;
  font-weight: 500
}
.hero__text-not-main {
  font-size: 9px
}
.hero__mark {
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid var(--orange-color);
  border-radius: 5px;
  margin-left: 10px;
  background: var(--white-color)
}
.hero__mark::after {
  content: "";
  position: absolute;
  inset: -1px;
  background: url(../img/mark.svg) 0 0/20px 20px;
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s
}
.hero__mark-main {
  margin-left: 15px;
  width: 25px;
  height: 25px
}
.hero__mark-main::after {
  background-size: unset
}
.hero__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  row-gap: 18px
}
.hero__row-main {
  row-gap: 15px;
  margin-bottom: 32px
}
.hero__row-buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 30px;
  padding-top: 53px
}
.hero__toggle {
  position: relative
}
.hero__toggle-main .hero__text-main {
  font-size: 20px
}
.hero__toggle-main .hero__control {
  border: 1px solid var(--blue-color);
  padding: 5px 15px;
  border-radius: 10px
}
.hero__toggle-main .hero__icon-triangle {
  min-height: 30px;
  min-width: 30px
}
.hero__toggle-main .hero__item {
  border-radius: 10px;
  border: 1px solid var(--blue-color);
  padding: 8px 15px;
  background: var(--dirty-blue-color)
}
.hero__toggle-main .hero__list {
  gap: 10px;
  max-height: 189px;
  top: calc(100% + 10px)
}
.hero__toggle-active .hero__control {
  background: var(--dirty-blue-color)
}
.hero__toggle-active .hero__control-not-main {
  background: var(--white-color)
}
.hero__toggle-active .hero__icon-triangle {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg)
}
.hero__toggle-active .hero__list {
  opacity: 1;
  visibility: visible
}
.hero__toggle-show-filialls + .hero__filials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.hero__control {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: var(--white-color);
  cursor: pointer;
  -webkit-transition: background .3s;
  transition: background .3s;
  border: 1px solid var(--orange-color);
  padding: 4px;
  border-radius: 5px
}
.hero__control:hover {
  background: var(--light-blue-color)
}
.hero__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 6px;
  max-height: 100px;
  position: absolute;
  top: calc(100% + 6px);
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .3s,visibility .3s;
  transition: opacity .3s,visibility .3s;
  overflow-y: auto;
  z-index: 2;
  background: var(--white-color)
}
.hero__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid var(--orange-color);
  padding: 4px;
  background: var(--white-color);
  cursor: pointer;
  -webkit-transition: background .3s;
  transition: background .3s
}
.hero__item:hover {
  background: var(--light-blue-color)
}
.hero__icon-triangle {
  margin-left: 10px;
  -webkit-transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s;
  min-width: 12px;
  min-height: 12px;
  width: 12px;
  height: 12px
}
.hero__button {
  max-width: 150px;
  width: 100%;
  color: var(--white-color);
  font-size: 22px;
  font-weight: 500;
  line-height: normal;
  padding: 6px 15px;
  border-radius: 10px;
  position: relative
}
.hero__button-blue {
  background: var(--blue-color)
}
.hero__button-blue::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px;
  border: 2px solid var(--light-blue-color);
  background: 0 0;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .3s,visibility .3s;
  transition: opacity .3s,visibility .3s
}
.hero__button-blue:hover::before {
  opacity: 1;
  visibility: visible
}
.hero__button-orange {
  background: var(--orange-color)
}
.hero__filials {
  display: none;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  row-gap: 18px
}
.hero__filial {
  color: var(--real-black-color);
  padding: 8px 15px;
  border: 1px solid var(--orange-color);
  width: 180px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  background: var(--white-color);
  -webkit-transition: background .3s,color .3s,border .3s;
  transition: background .3s,color .3s,border .3s;
  border-radius: 10px;
  cursor: pointer;
  white-space: nowrap
}
.hero__filial:hover {
  background: var(--orange-color);
  color: var(--white-color);
  border: 1px solid var(--blue-color)
}
.hero__filial-active {
  background: var(--orange-color);
  color: var(--white-color);
  border: 1px solid var(--orange-color)
}
[data-simplebar] {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start
}
.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit
}
.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto!important;
  height: auto!important;
  z-index: 0
}
.simplebar-offset {
  direction: inherit!important;
  -webkit-box-sizing: inherit!important;
  box-sizing: inherit!important;
  resize: none!important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch
}
.simplebar-content-wrapper {
  direction: inherit;
  -webkit-box-sizing: border-box!important;
  box-sizing: border-box!important;
  position: relative;
  display: block;
  height: 100%;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none
}
.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0
}
.simplebar-content:after,
.simplebar-content:before {
  content: " ";
  display: table
}
.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none
}
.simplebar-height-auto-observer-wrapper {
  -webkit-box-sizing: inherit!important;
  box-sizing: inherit!important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  -webkit-box-flex: inherit;
  -ms-flex-positive: inherit;
  flex-grow: inherit;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0
}
.simplebar-height-auto-observer {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1
}
.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden
}
[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none
}
[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all
}
.simplebar-scrollbar {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 10px
}
.simplebar-scrollbar:before {
  position: absolute;
  content: "";
  background: #000;
  border-radius: 7px;
  left: 2px;
  right: 2px;
  opacity: 0;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear
}
.simplebar-scrollbar.simplebar-visible:before {
  opacity: .5;
  -webkit-transition: opacity linear;
  transition: opacity linear
}
.simplebar-track.simplebar-vertical {
  top: 0;
  width: 3px;
  background: var(--grey-color);
  right: -24px
}
.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px
}
.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px;
  display: none
}
.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  height: 100%;
  left: 2px;
  right: 2px
}
.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 2px;
  height: 7px;
  min-height: 0;
  min-width: 10px;
  width: auto
}
[data-simplebar-direction=rtl] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0
}
.hs-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll
}
.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none
}
.card {
  padding: 30px 50px 40px;
  max-width: 1300px;
  margin: 0 auto;
  max-height: 890px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
  background: var(--white-color);
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 25px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: opacity .3s,visibility .3s,-webkit-transform .5s;
  transition: opacity .3s,visibility .3s,transform .5s,-webkit-transform .5s
}
.card-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0)
}
.card__container {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height .6s;
  transition: max-height .6s;
  will-change: max-height
}
.card__container-list {
  position: relative;
  max-width: 442px;
  width: 100%
}
.card__container-list-inner {
  position: absolute;
  left: 0;
  top: calc(100% + 10px);
  padding: 14px 42px 19px 20px;
  width: 100%;
  border: 1px solid var(--blue-color);
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .3s,visibility .3s;
  transition: opacity .3s,visibility .3s
}
.card__container-list-inner-visible {
  opacity: 1;
  visibility: visible
}
.card__title {
  color: var(--real-black-color);
  font-size: 38px;
  font-weight: 600;
  line-height: normal;
  margin: 0 0 50px
}
.card__title-h4 {
  color: var(--real-black-color);
  font-size: 28px;
  font-weight: 500;
  line-height: normal;
  margin: 0 0 25px
}
.card__label-date {
  position: relative
}
.card__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 30px
}
.card__row-phones {
  margin-top: 30px;
  gap: 15px
}
.card__row-gender {
  margin-bottom: 30px
}
.card__text {
  color: var(--real-black-color);
  font-size: 25px;
  font-weight: 500;
  line-height: normal
}
.card__text-gender {
  margin-right: 15px
}
.card__input {
  padding: 11px;
  color: var(--real-black-color);
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  line-height: normal;
  border-radius: 10px;
  border: 1px solid var(--blue-color);
  width: 100%
}
.card__input::-webkit-input-placeholder {
  color: rgba(0,0,0,.25);
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  line-height: normal
}
.card__input::-moz-placeholder {
  color: rgba(0,0,0,.25);
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  line-height: normal
}
.card__input:-ms-input-placeholder {
  color: rgba(0,0,0,.25);
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  line-height: normal
}
.card__input::-ms-input-placeholder {
  color: rgba(0,0,0,.25);
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  line-height: normal
}
.card__input::placeholder {
  color: rgba(0,0,0,.25);
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  line-height: normal
}
.card__input-text {
  max-width: 225px
}
.card__input-phone {
  max-width: 350px
}
.card__input-phone-hidden {
  display: none
}
.card__input-date {
  max-width: 350px
}
.card__input-region {
  max-width: 442px;
  padding-left: 50px;
  padding-right: 50px
}
.card__input-region:focus + .card__container-list-inner {
  opacity: 1;
  visibility: visible
}
.card__button-phone {
  margin-top: 8px;
  color: var(--blue-color);
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  text-decoration: underline;
  text-underline-offset: 3px;
  margin-bottom: 30px
}
.card__button-check {
  max-width: 253px
}
.card__button-done {
  max-width: 273px;
  margin-left: auto
}
.card__mark {
  color: var(--real-black-color);
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  padding: 5px 10px;
  background: var(--white-color);
  border: 1px solid var(--blue-color);
  -webkit-transition: background .3s,color .3s;
  transition: background .3s,color .3s;
  border-radius: 10px
}
.card__mark-active {
  background: var(--blue-color);
  color: var(--white-color)
}
.card__mark:not(:last-child) {
  margin-right: 20px
}
.card__list {
  max-width: 442px;
  max-height: 120px
}
.card__item {
  color: var(--real-black-color);
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  border-bottom: 1px solid var(--grey-color);
  padding-bottom: 1px;
  padding-left: 11px;
  padding-right: 11px;
  max-width: 380px;
  cursor: pointer
}
.simplebar-scrollbar {
  width: 2px;
  background: var(--orange-color)
}
.simplebar-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 4px
}
.datepicker {
  width: -moz-min-content;
  width: -webkit-min-content;
  width: min-content
}
.datepicker:not(.active) {
  display: none
}
.datepicker-dropdown {
  position: absolute;
  z-index: 20;
  padding-top: 4px
}
.datepicker-dropdown.datepicker-orient-top {
  padding-top: 0;
  padding-bottom: 4px
}
.datepicker-picker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 4px;
  background-color: #fff
}
.datepicker-dropdown .datepicker-picker {
  -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.1);
  box-shadow: 0 2px 3px rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.1)
}
.datepicker-main {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  padding: 2px
}
.datepicker-footer {
  -webkit-box-shadow: inset 0 1px 1px rgba(10,10,10,.1);
  box-shadow: inset 0 1px 1px rgba(10,10,10,.1);
  background-color: #f4f4f4
}
.datepicker-title {
  -webkit-box-shadow: inset 0 -1px 1px rgba(10,10,10,.1);
  box-shadow: inset 0 -1px 1px rgba(10,10,10,.1);
  background-color: #f4f4f4;
  padding: .375rem .75rem;
  text-align: center;
  font-weight: 700
}
.datepicker-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.datepicker-header .datepicker-controls {
  padding: 2px 2px 0
}
.datepicker-controls .button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #fff;
  cursor: pointer;
  padding: calc(.375em - 1px) .75em;
  height: 2.25em;
  vertical-align: top;
  text-align: center;
  line-height: 1.5;
  white-space: nowrap;
  color: #353535;
  font-size: 1rem
}
.datepicker-controls .button:active,
.datepicker-controls .button:focus {
  outline: 0
}
.datepicker-controls .button:hover {
  border-color: #b8b8b8;
  color: #353535
}
.datepicker-controls .button:focus {
  border-color: #3273dc;
  color: #353535
}
.datepicker-controls .button:focus:not(:active) {
  -webkit-box-shadow: 0 0 0 .125em rgba(50,115,220,.25);
  box-shadow: 0 0 0 .125em rgba(50,115,220,.25)
}
.datepicker-controls .button:active {
  border-color: #474747;
  color: #353535
}
.datepicker-controls .button[disabled] {
  cursor: not-allowed
}
.datepicker-header .datepicker-controls .button {
  border-color: transparent;
  font-weight: 700
}
.datepicker-header .datepicker-controls .button:hover {
  background-color: #f9f9f9
}
.datepicker-header .datepicker-controls .button:active {
  background-color: #f2f2f2
}
.datepicker-footer .datepicker-controls .button {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  margin: calc(.375rem - 1px) .375rem;
  border-radius: 2px;
  font-size: .75rem
}
.datepicker-controls .view-switch {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto
}
.datepicker-controls .next-button,
.datepicker-controls .prev-button {
  padding-right: .375rem;
  padding-left: .375rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 14.2857142857%;
  flex: 0 0 14.2857142857%
}
.datepicker-controls .next-button.disabled,
.datepicker-controls .prev-button.disabled {
  visibility: hidden
}
.datepicker-grid,
.datepicker-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.datepicker-view {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 15.75rem
}
.datepicker-grid {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto
}
.datepicker .days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto
}
.datepicker .days-of-week {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.datepicker .week-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 9.6774193548%;
  flex: 0 0 9.6774193548%
}
.datepicker .weeks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto
}
.datepicker span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 4px;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}
.datepicker .dow {
  height: 1.5rem;
  font-size: .875rem;
  font-weight: 700
}
.datepicker .week {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  color: #b8b8b8;
  font-size: .75rem
}
.datepicker .days .dow,
.datepicker-cell {
  -ms-flex-preferred-size: 14.2857142857%;
  flex-basis: 14.2857142857%
}
.datepicker-cell {
  height: 2.25rem
}
.datepicker-cell:not(.day) {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  height: 4.5rem
}
.datepicker-cell:not(.disabled):hover {
  background-color: #f9f9f9;
  cursor: pointer
}
.datepicker-cell.focused:not(.selected) {
  background-color: #e9e9e9
}
.datepicker-cell.selected,
.datepicker-cell.selected:hover {
  background-color: #3273dc;
  color: #fff;
  font-weight: 600
}
.datepicker-cell.disabled {
  color: #dcdcdc
}
.datepicker-cell.next:not(.disabled),
.datepicker-cell.prev:not(.disabled) {
  color: #7a7a7a
}
.datepicker-cell.next.selected,
.datepicker-cell.prev.selected {
  color: #e6e6e6
}
.datepicker-cell.highlighted:not(.selected):not(.range):not(.today) {
  border-radius: 0;
  background-color: #f4f4f4
}
.datepicker-cell.highlighted:not(.selected):not(.range):not(.today):not(.disabled):hover {
  background-color: #efefef
}
.datepicker-cell.highlighted:not(.selected):not(.range):not(.today).focused {
  background-color: #e9e9e9
}
.datepicker-cell.today:not(.selected) {
  background-color: #00d1b1
}
.datepicker-cell.today:not(.selected):not(.disabled) {
  color: #fff
}
.datepicker-cell.today.focused:not(.selected) {
  background-color: #00ccad
}
.datepicker-cell.range-end:not(.selected),
.datepicker-cell.range-start:not(.selected) {
  background-color: #b8b8b8;
  color: #fff
}
.datepicker-cell.range-end.focused:not(.selected),
.datepicker-cell.range-start.focused:not(.selected) {
  background-color: #b3b3b3
}
.datepicker-cell.range-start:not(.range-end) {
  border-radius: 4px 0 0 4px
}
.datepicker-cell.range-end:not(.range-start) {
  border-radius: 0 4px 4px 0
}
.datepicker-cell.range {
  border-radius: 0;
  background-color: #dcdcdc
}
.datepicker-cell.range:not(.disabled):not(.focused):not(.today):hover {
  background-color: #d7d7d7
}
.datepicker-cell.range.disabled {
  color: #c6c6c6
}
.datepicker-cell.range.focused {
  background-color: #d1d1d1
}
.datepicker-input.in-edit {
  border-color: #276bda
}
.datepicker-input.in-edit:active,
.datepicker-input.in-edit:focus {
  -webkit-box-shadow: 0 0 .25em .25em rgba(39,107,218,.2);
  box-shadow: 0 0 .25em .25em rgba(39,107,218,.2)
}